<!DOCTYPE html>
<html>
<body>

<h1>Create a New Event</h1>

<h4> Event Name: <input type="text" name="eventName"> </h4>

<h4> Location: <input type="text" name="eventLocation"> </h4>

<h4> Start Date: <input type="date" name="eventStart"> </h4>

<h4> End Date: <input type="date" name="eventEnd"> </h4>

<h4> Number of Timeslots: <input type="number" name="numTimeslots" min="1" max="20"> </h4>

<input type="button" name="submitButton" value="Submit" onclick="location.href='{% url 'displayEvents/createEvent/validateEvent' %}">

</body>
</html>