<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sample Project</title>
        <link rel="stylesheet" href="https://www.w3schools.com/html/styles.css">
</head>

<body>
<table>
<tr>{{SignupName}}</tr>
  <tr>
    <th>Date</th>
    <th>Available Slot</th>
    <th></th>
  </tr>
  <tr>
    <td>{{date_1}}</td>
    <td>{{comment}}</td>
    <td></td>
  </tr>
  <tr>
    <td>{{date_2}}</td>
    <td>{{comment}}</td>
    <td></td>
  </tr>
  <tr>
    <td>{{date_3}}</td>
    <td>{{comment}}</td>
    <td></td>
  </tr>
  <tr>
    <td>{{date_4}}</td>
    <td>{{comment}}</td>
    <td></td>
  </tr>
  <tr>
    <td>{{date_5}}</td>
    <td>{{comment}}</td>
    <td></td>
  </tr>


</table>
</body>
</html>
