<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sample Project</title>
        <link rel="stylesheet" href="https://www.w3schools.com/html/styles.css">
</head>

<body>
<table>
<tr>{{SignupName}}</tr>
  <tr>
    <th>Date</th>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Available Slot</th>
    <th></th>
  </tr>
  <tr>
    <td>{{date_1}}</td>
    <td>{{start_1}}</td>
    <td>{{end_1}}</td>
    <td><input type="submit" value="{{comment}}"></td>
    <td></td>
  </tr>
  <tr>
    <td>{{date_2}}</td>
    <td>{{start_2}}</td>
    <td>{{end_2}}</td>
    <td><input type="submit" value="{{comment}}"></td>
    <td></td>
  </tr>
  <tr>
    <td>{{date_3}}</td>
    <td>{{start_3}}</td>
    <td>{{end_3}}</td>
    <td><input type="submit" value="{{comment}}"></td>
    <td></td>
  </tr>
  <tr>
    <td>{{date_4}}</td>
    <td>{{start_4}}</td>
    <td>{{end_4}}</td>
    <td><input type="submit" value="{{comment}}"></td>
    <td></td>
  </tr>
  <tr>
    <td>{{date_5}}</td>
    <td>{{start_5}}</td>
    <td>{{end_5}}</td>
    <td><input type="submit" value="{{comment}}"></td>
    <td></td>
  </tr>


</table>
</body>
</html>
