<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sample Project</title>
        <link rel="stylesheet" href="https://www.w3schools.com/html/styles.css">
</head>
<body>
<H1>
SmartSchedule designed by Abdulla, Abhishek, Kyle, Pooja, Vamshi, Dinesh
	</H1>

<h2>Below are the list of Events you can signup for:</h2>
<ul>
<li><a href="http://127.0.0.1:8000/displayEvents/footballGame">Football Game</a></li>
<li><a href="http://127.0.0.1:8000/displayEvents/communityService">Community Service</a></li>
<li><a href="http://127.0.0.1:8000/displayEvents/diyWednesday">DIY Wednesday (OSU SAA)</a></li>
<li><a href="http://127.0.0.1:8000/displayEvents/5kRun">5K Run (OSU ISO)</a></li>
<li><a href="http://127.0.0.1:8000/displayEvents/potluck">Potluck</a></li>
</ul>

<br>
<h2>Create an event here:</h2>
<a href="http://127.0.0.1:8000/displayEvents/createEvent">Create New Event</a>

</body>
</html>
