<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sample Project</title>
        <link rel="stylesheet" href="https://www.w3schools.com/html/styles.css">
</head>
<body>
<H1>
SmartSchedule designed by Abdulla, Abhishek, Kyle, Pooja, Vamshi, Dinesh
	</H1>

<h2>Below are the list of Events you can signup for:</h2>
<ul>
<li><a href="http://www.google.com">Football Game</a></li>
<li><a href="http://www.google.com">Community Service</a></li>
<li><a href="http://www.google.com">DIY Wednesday (OSU SAA)</a></li>
<li><a href="http://www.google.com">5K Run (OSU ISO)</a></li>
<li><a href="http://www.google.com">Potluck</a></li>
</ul>
</body>
</html>
